<ion-view view-title="Trips">	
  <ion-nav-bar class="bar-stable">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="openModal()">
		New
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content>
    <div class="card" ng-repeat="itrip in trips" >
      <a class="item item-divider" >{{itrip.Name}} 
		 <span class="item-note">
		  {{itrip.created | date:'dd MMM yyyy'}}
		</span>
	  </a>
	  <div class="item">
		{{itrip | duration }} days
		<span class="item-note">
		{{itrip.Start_date | date:'dd MMM yyyy'}} - {{itrip.End_date | date:'dd MMM yyyy'}}
		</span>
	  </div>
      <div class="item item-body">
        <div>
          {{itrip.Description}}
        </div>
      </div>
    </div>
   
  </ion-content>
</ion-view>
