/* Empty. Add your own CSS if you like */
.pane {
    background-color: #f8f8f8;
}
.colorEnergized{
	color: #33cd5f;
}
.button {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none;
    border-bottom: none;
	background-color: #FFFFFF;
}
.bigIcon{
	font-size: 20px;
}
.item{
	padding: 3px;
}
.col{
	padding: 0px;
}
.headerSection{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 3px;
	font-size: 16px;
	color: #33cd5f;
}
.headerSection2{
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 3px;
	font-size: 16px;
	color: #33cd5f;
}