/* Empty. Add your own CSS if you like */

/*------ Global CSS ------*/
.pane{
	background-color: #f8f8f8;
}

.header-title{
	font-size: 16px;
	color: #ffc900;
	font-weight: bold;
}

.big-icon{
	font-size: 20px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
	max-height: 100px;
}

/*------ Start of Energy Usage ------*/

/*----- Tabs -----*/

.energy-usage-tabs {
    width:100%;
    display:inline-block;
	position: relative;
	line-height: inherit;
	border-style: none;
	background-color: none;
}
 
    /*----- Tab Links -----*/
    /* Clearfix */
    .energy-usage-tab-links:after {
        display:block;
        clear:both;
        content:'';
    }
 
    .energy-usage-tab-links li {
		text-align: center;
		width: 25%;
        float:left;
        list-style:none;
    }
 
        .energy-usage-tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#f8f8f8;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
        }
 
        .energy-usage-tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    li.active a, li.active a:hover {
        background:#fff;
        color:#4D4C8B;
    }
 
    /*----- Content of Tabs -----*/
    .energy-usage-tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .energy-usage-tab {
            display:none;
        }
 
        .energy-usage-tab.active {
            display:block;
        }
		


.energy-usage-header{
	padding-left: 10px;
}

.energy-usage-footer-header{
	font-weight: bold
}

.energy-usage-footer{
	background: #fff;
	border-radius: 3px;
	padding: 15px;
}

.energy-usage-footer-tip{
	padding-left: 10px;
}

.energy-usage-achievement{
	width: 25%;
	text-align: center;
	color: #4c4c4c;
}

.energy-usage-achievement.active{
	width: 25%;
	text-align: center;
	color:#4D4C8B;
}

.energy-usage-achievement a:hover {
	background:#a7cce5;
	text-decoration:none;
}

/*----- End of Energy Usage ------*/